/* 强制撑开 .page 区域并铺满屏幕宽度 */
.layout--page > .page {
  max-width: 95vw !important;
  width: 95vw !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* 缩小 sidebar 宽度 */
.sidebar {
  width: 220px !important;
}

.sidebar__inner {
  max-width: 220px !important;
}



/* 内容区域之间间隔 */
@media (min-width: 1024px) {
  .layout--page {
    display: grid !important;
    grid-template-columns: 220px auto !important;
    column-gap: 2rem !important;
  }
}
